<div class="main__container">
  <div class="task__container">
    <div class="tasks">
      <h3>Tarefas Prox. vencimento</h3>
      <div class="taskList">
        @if(lastTasks.length < 1){
          <span class="notFound">NENHUMA TAREFA ENCONTRADA...</span>
        }@else {
          @for(task of lastTasks; track $index){
            <task-card [taskInfo]="task"></task-card>
          }
        }
      </div>
    </div>
    <div class="tasks">
      <h3>Novas Tarefas</h3>
      <div class="taskList">
        @if(newestTasks.length < 1){
          <span class="notFound">NENHUMA TAREFA ENCONTRADA...</span>
        }@else {
          @for(task of newestTasks; track $index){
            <task-card [taskInfo]="task"></task-card>
          }
        }
        
      </div>
    </div>
  </div>

  <div class="userInfo">
   <!--  <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
      />
    </svg> -->
    <img src={{userLogged.img}}  alt="">
    <p style="font-size: 30px; margin: 10px 0;">{{userLogged.fullname}}</p>
    <p style="font-size: 25px; margin: 10px 0;">{{userLogged.role}}</p>
    <p style="margin: 10px 0;">{{userLogged.points}} pontos</p>
  </div>
  <div class="ranking">
    <div class="header"><h3>Ranking Mensal</h3></div>
    <div class="podium">
      <div class="podium_item">
        <img src="{{this.ranking[1].img}}" alt="">
        <p>{{this.ranking[1].fullname}}</p>
        <p>{{this.ranking[1].points}} pontos</p>
        <div class="rank second">
          <p>2</p>
        </div>
      </div>
      <div class="podium_item">
        <img src="{{this.ranking[0].img}}" alt="">
        <p>{{this.ranking[0].fullname}}</p>
        <p>{{this.ranking[0].points}} pontos</p>
        <div class="rank first">
          <p>1</p>
        </div>
      </div>
      <div class="podium_item">
        <img src="{{this.ranking[2].img}}" alt="">
       <!--  <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
          />
        </svg> -->
        <p>{{this.ranking[2].fullname}}</p>
        <p>{{this.ranking[2].points}} pontos</p>
        <div class="rank third">
          <p>3</p>
        </div>
      </div>
    </div>
  </div>
  <div class="special">
    <h3>Itens Especiais</h3>
    <div class="special_item">
      <store-item [isSpecial]="true"></store-item>
    </div>
  </div>
</div>

<!-- <svg
xmlns="http://www.w3.org/2000/svg"
width="1em"
height="1em"
viewBox="0 0 48 48"
>
<path
  fill="currentColor"
  fill-rule="evenodd"
  d="M24.039 6c-4.517 0-8.632 1.492-11.067 2.711q-.33.165-.616.322c-.378.206-.7.398-.956.567l2.77 4.078l1.304.519c5.096 2.571 11.93 2.571 17.027 0l1.48-.768L36.6 9.6a16 16 0 0 0-1.689-.957C32.488 7.437 28.471 6 24.04 6m-6.442 4.616a25 25 0 0 1-2.901-.728C16.978 8.875 20.377 7.8 24.04 7.8c2.537 0 4.936.516 6.92 1.17c-2.325.327-4.806.882-7.17 1.565c-1.86.538-4.034.48-6.192.081m15.96 5.064l-.246.124c-5.606 2.828-13.042 2.828-18.648 0l-.233-.118C6.008 24.927-.422 41.997 24.039 41.997S41.913 24.61 33.557 15.68M23 24a2 2 0 1 0 0 4zm2-2v-1h-2v1a4 4 0 0 0 0 8v4c-.87 0-1.611-.555-1.887-1.333a1 1 0 1 0-1.885.666A4 4 0 0 0 23 36v1h2v-1a4 4 0 0 0 0-8v-4c.87 0 1.611.555 1.887 1.333a1 1 0 1 0 1.885-.666A4 4 0 0 0 25 22m0 8v4a2 2 0 1 0 0-4"
  clip-rule="evenodd"
/>
</svg> -->
