<div class="card__container">
  <input type="checkbox" name="" id="check">
  <div class="card__image">
    <!--    <img src="https://www.seekpng.com/png/detail/428-4287240_no-avatar-user-circle-icon-png.png"> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
      />
    </svg>
    <span>{{ name }}</span>
  </div>
  <div class="card__info">
    <p>{{ user.role }}</p>
    @if (user.email.length > 23) {
      <p class="email">{{ user.email }}</p>
    }@else {
      <p>{{ user.email }}</p>
    }
    
  </div>
</div>
