<body>
  <div id="header">
    <div class="h_itensOne">
      <span class="title">Questfy Hub</span>
      <a href="">Sobre</a>
      <a href="">Serviços</a>
    </div>

    <div class="h_itensTwo">
      <a href="">Fale conosco</a>
      <a href="">FAQ</a>
    </div>
  </div>

  <div class="loginBody">
    <div class="infoSet">
      <h1>Impulsione sua empresa com a Questfy Hub</h1>
      <p>
        Transforme suas ideias em ações e suas ações em resultados. Conecte-se
        agora e comece a fazer a diferença! Na nossa plataforma de gerenciamento
        de tarefas, acreditamos que cada ideia tem o potencial de se transformar
        em algo grandioso. Faça login para começar a aproveitar todas essas
        funcionalidades e muito mais. Transforme seu potencial em produtividade
        e veja suas ideias ganharem vida.
      </p>
      <a href="">Comece Aqui!</a>
    </div>
    <div class="forms">
      <form
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()"
        #formDir="ngForm"
        autocomplete="off"
      >
        <div class="header">
          <h1>LOGIN</h1>
        </div>

        <div class="form-group">
          <input
            type="text"
            name="login"
            formControlName="login"
            placeholder=""
          />
          <label for="login">Usuário: </label>
          <p class="error">{{ errMessage }}</p>
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            formControlName="password"
            placeholder=""
          />
          <label for="password">Senha: </label>
          <div class="missingP">
            <p class="error">{{ errMessage }}</p>
            <a href="">Esqueci a senha</a>
          </div>
        </div>
        <button class="btnLogin" type="submit">Entrar</button>
        <div></div>
      </form>
    </div>
  </div>
</body>
