/* .placeholder{
    position: relative;
    left: 45vw;
    top: 10vh;
}  */
.content{
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 4vw;
}
.content app-user-cadastro{
    margin-top: 10vh;
}
app-reports{
    width: 500px
}
