/* .placeholder{
    position: relative;
    left: 45vw;
    top: 10vh;
}  */
.placeholder{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.placeholder app-user-cadastro{
    margin-top: 10vh;
}