<div class="task__container">
  <div class="main__header">
    <h1>Tarefas</h1>
    <div class="search">
      
      @if(isGestor){
        <button onclick="window.location.href = 'tasks/register'">Novo</button>
      }
    </div>
  </div>
  <div class="task__category">
    <div class="tasks pending">
      <p class="header" style="color: #f6b100">Pendente</p>
      <div class="task_list" id="pending">
        @for (task of pendent; track $index) {
          <task-card [taskInfo]="task" draggable="true" class="item" (transfereData)="teste($event)" style="margin-bottom: 20px;"></task-card>
        } 
      </div>
    </div>
    <div class="tasks late">
      <p class="header" style="color: #a20000">Em espera</p>
      <div class="task_list" id="espera">
        @for (task of waiting; track $index) {
          <task-card [taskInfo]="task" draggable="true" class="item" style="margin-bottom: 20px;"></task-card>
        }
      </div>
    </div>
    <div class="tasks finished">
      <p class="header" style="color: #1200e5">Iniciado</p>
      <div class="task_list" id="started">
        @for (task of started; track $index) {
          <task-card [taskInfo]="task" draggable="true" class="item" style="margin-bottom: 20px;"></task-card>
        }
      </div>
    </div>
    <div class="tasks approved">
      <p class="header" style="color: #0c9a00">Concluido</p>
      <div class="task_list" id="finished">
        @for (task of finished; track $index) {
          <task-card [taskInfo]="task" draggable="true" class="item" style="margin-bottom: 20px;"></task-card>
        }
      </div>
    </div>
  </div>
</div>