<form action="">
    <h1>Cadastro de Usuário</h1>
    <div class="columns">
        <div class="columnOne">
            <label for="">Nome Completo:</label>
            <input type="text" name="" id="" placeholder="" autocomplete="none">
            <label for="">Email:</label>
            <input type="text" name="" id="" placeholder="" autocomplete="none">
            <label for="">Senha:</label>
            <input type="password" name="" id="">
        </div>
        <div class="columnTwo">
            <label for="">CPF:</label>
            <input type="text" name="" id="cpf">
            <label for="">Cargo:</label>
            <input type="text" name="" id="" placeholder="" autocomplete="none">
            <label for="">Confirmar Senha:</label>
            <input type="password" name="" id="">
        </div>
    </div>
    <div class="btnGroup">
        <a href='users' class="voltar">Voltar</a>
        <!--TODO: Esperar o João fazer o CRUD-->
        <a href="" class="save">Save</a>
    </div>
</form>