<form action="">
  <h1>Cadastro de Usuário</h1>
  <div class="columns">
    <div class="columnOne">
      <label for="">Titulo: </label>
      <input type="text" name="" id="" placeholder="" autocomplete="none" />
      <label for="">Descrição curta</label>
      <input type="text" name="" id="" placeholder="" autocomplete="none" />
    </div>
    <div class="columnTwo">
      <label for="">Nivel de Dificuldade:</label>
      <select name="" id="" >
        <option value="" disabled selected hidden>Escolha a dificuldade...</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
      </select>
      <label for="">Data de Entrega:</label>
      <input type="date" name="" id="" placeholder="" autocomplete="none" />
      <label for="">Integrantes:</label>
      <input type="password" name="" id="" />
    </div>
  </div>
  <div class="longDescription">
    <label for="">Descrição Longa:</label>
    <textarea name="" id="" rows="15" cols="50" ></textarea>
  </div>
  <div class="btnGroup">
    <a href="tasks" class="voltar">Voltar</a>
    <!--TODO: Esperar o João fazer o CRUD-->
    <a href="" class="save">Save</a>
  </div>
</form>
