<body>

  <div id="header">
    <div class="h_itensOne">
      <span style="font-size: 34px">Questfy Hub</span>
      <a href="#">Sobre</a>
      <a href="#">Serviços</a>
    </div>

    <div class="h_itensTwo">
      <a href="#">Fale conosco</a>
      <a href="#">FAQ</a>
    </div>

  </div>

  <div class="loginBody">
    <div class="infoSet">
      <h1>Impulsione sua empresa com a Questfy Hub</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <a href="">Comece Aqui!</a>
    </div>
    <div class="forms">
      <form  autocomplete="off">
          <div class="header">
              <h1>LOGIN</h1>
          </div>
          
          <div class="form-group">
              <input type="text" name="username" formControlName = "username" placeholder="">
              <label for="username">Usuário: </label>
          </div>
          <div class="form-group">
              <input type="password" name="password" formControlName = "password" placeholder="">
              <label for="password">Senha: </label>
              <div class="missingP">
                <a href="" >Esqueci a senha</a>
              </div>
              
          </div>
          <button class="btnLogin">Entrar</button>
          <div>

          </div>

          <div class="registerSection">
            <hr style="color: black; ">
            <p>Não possui cadastro?</p>
            <hr style="color: black;">
          </div>
          <button class="btnRegister">SOLICITAR CADASTRO</button>
      </form>
  </div>
  </div>
</body>
